<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contests</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/contest.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class="overlay"></div>
    <div class="container">
        <div class="row head_container">
            <div class="col pt-2">
                <ul>
                    <li class="dp"><img src="/images/user.png" alt="img" srcset="" class="user_icon"></li>
                    <li class="user_name">Asmit Singh</li>
                    <li class="in"><img src="/images/in.png" alt="in" srcset="" class="in_icon"></li>
                </ul>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <div class="form_container">
            <form method="POST">
            <div class="filter_container">
            <div class="check_box"> <label><input type="checkbox" class="form-check-input" name="CodeChef" {{#if sites.CodeChef}}checked{{/if}}>&nbsp;CodeChef</label></div> 
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="HackerEarth" {{#if sites.HackerEarth}}checked{{/if}}>&nbsp;HackerEarth</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="CodeForces" {{#if sites.CodeForces}}checked{{/if}}>&nbsp;CodeForces</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="AtCoder" {{#if sites.AtCoder}}checked{{/if}}>&nbsp;AtCoder</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="LeetCode" {{#if sites.LeetCode}}checked{{/if}}>&nbsp;LeetCode</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="HackerRank" {{#if sites.HackerRank}}checked{{/if}}>&nbsp;HackerRank</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="Kick" {{#if sites.Kick}}checked{{/if}}>&nbsp;Kick Start</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="TopCoder" {{#if sites.TopCoder}}checked{{/if}}>&nbsp;TopCoder</label></div>
            <br>
            <div ><input type="submit" value="submit" class="btn btn-outline-primary"></div>
            </div>
           
        </form>

        </div>
    <div class="contest_body">
        <div class="row g-2 justify-content-evenly scroll">
        {{#each data}}
        <div class="col-6 con_div"> 
            
            <div class="contest_link"><a href='{{url}}' target='_blank'>{{name}}</a></div>
            <div class="row div_data justify-content-start">
                <div class="col-2 site_name">{{site}}</div>
                {{#ifCond status 'CODING'}}
                <div class="col-2 ongoing">ONGOING</div>&nbsp;&nbsp;&nbsp;
                <div class="col-4 end">Ends on : {{end_time}}</div>
                <div class="col-3 duration"> Duration : {{duration}}</div>
                 {{else}}
                <div class="col-2 upcoming"> UPCOMING</div>&nbsp;&nbsp;&nbsp;
                <div class="col-4 start">Started on : {{start_time}} Ends on : {{end_time}}</div>
                <div class="col-3 duration"> Duration : {{duration}}</div>
                {{/ifCond}}

            </div>
          
        </div>
        <hr>
       {{/each}}
        </div>
    </div>
    
    
</body>
</html>