<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contests</title>
    <link rel="icon" href="images/logo2.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Syncopate&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/contest.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    
    <div class="skippy visually-hidden-focusable overflow-hidden">
        <div class="container-xl">
          <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
      
        </div>
    </div>
    {{>header}}
    <div class="container-xxl">
            
    <main>

    <aside class="bd-sidebar">
             <div class="col-2 form_container mt-3 m-3">
            <form method="POST">
            <div class="filter_container">
            <div class="check_box"> <label><input type="checkbox" class="form-check-input" name="CodeChef" {{#if sites.CodeChef}}checked{{/if}}>&nbsp;CodeChef</label></div> 
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="HackerEarth" {{#if sites.HackerEarth}}checked{{/if}}>&nbsp;HackerEarth</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="CodeForces" {{#if sites.CodeForces}}checked{{/if}}>&nbsp;CodeForces</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="AtCoder" {{#if sites.AtCoder}}checked{{/if}}>&nbsp;AtCoder</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="LeetCode" {{#if sites.LeetCode}}checked{{/if}}>&nbsp;LeetCode</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="HackerRank" {{#if sites.HackerRank}}checked{{/if}}>&nbsp;HackerRank</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="Kick" {{#if sites.Kick}}checked{{/if}}>&nbsp;Kick Start</label></div>
            <div class="check_box"><label><input type="checkbox" class="form-check-input" name="TopCoder" {{#if sites.TopCoder}}checked{{/if}}>&nbsp;TopCoder</label></div>
            <br>
            <div ><input type="submit" value="Apply" class="btn btn-outline-primary filter"></div>
            </div>
           
        </form>
        </div>
    </aside>
    <div class="contest_body scroll">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <div>
                    <th>Status</th>
                    <th>Event</th>
                    <th>Host</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                </div>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>
                        {{#ifCond status 'CODING'}}
                        ONGOING
                        {{else}}
                        UPCOMING
                        {{/ifCond}}
                    </td>
                    <td>
                        <a href='{{url}}' target='_blank'>{{name}}</a>
                    </td>
                    <td>
                        {{site}}
                    </td>
                    <td>
                        {{#ifCond status 'CODING'}}
                        Already Started
                        {{else}}
                        {{start_time}}
                        {{/ifCond}}
                    </td>
                    <td>
                        {{end_time}}
                    </td>
                    <td>
                        {{duration}}
                    </td>
                </tr>

            {{!-- <div class="row col-5 justify-content-between info mt-1 ">
                <div class="col-2">{{#ifCond status 'CODING'}}
                <div class="btn btn-success">ONGOING</div>
                 {{else}}
                <div class="btn btn-secondary"> UPCOMING</div>
                {{/ifCond}}</div>
                <div class="col-6 " ><a href='{{url}}' target='_blank'>{{name}}</a></div>
                <div class="col-2"><h6>{{site}}</h6></div>
            </div>
            <div class="row col-7 justify-content-between time mt-1">
                {{#ifCond status 'CODING'}}
                <div class="col-3" >Already Started</div>
                 {{else}}
               <div class="col-3">{{start_time}}</div>
                {{/ifCond}}
                
                <div class="col-3 "><div class="end">{{end_time}}</div></div>
                <div class="col-2 "><div class="yduration">{{duration}}</div></div>
            </div> --}}
       
            {{/each}}
        </tbody>
    </table>   
    </div> 
    {{!-- <div class="contest_body scroll">
        <div class="row head g-2 mt-1">
            <div class="row justify-content-between col-5 info ">
                <div class="col-2"><h6>Status</h6></div>
                <div class="col-6" ><h6>Event</h6> </div>
                <div class="col-2"><h6>Host</h6></div>
            </div>
            <div class="row col-5 justify-content-between time ">
                <div class="col-3"> <h6>Start Time</h6></div>
                <div class="col-3"> <h6>End Time</h6> </div>
                <div class="col-2"> <h6>Duration</h6></div>
            </div>

        </div>
        <br>
        <div class="row justify-content-center head g-2">
           
        {{#each data}}

            <div class="row col-5 justify-content-between info mt-1 ">
                <div class="col-2">{{#ifCond status 'CODING'}}
                <div class="btn btn-success">ONGOING</div>
                 {{else}}
                <div class="btn btn-secondary"> UPCOMING</div>
                {{/ifCond}}</div>
                <div class="col-6 " ><a href='{{url}}' target='_blank'>{{name}}</a></div>
                <div class="col-2"><h6>{{site}}</h6></div>
            </div>
            <div class="row col-7 justify-content-between time mt-1">
                {{#ifCond status 'CODING'}}
                <div class="col-3" >Already Started</div>
                 {{else}}
               <div class="col-3">{{start_time}}</div>
                {{/ifCond}}
                
                <div class="col-3 "><div class="end">{{end_time}}</div></div>
                <div class="col-2 "><div class="yduration">{{duration}}</div></div>
            </div>
       
       {{/each}}
        </div>
    </div> --}}
    </main>
    </div>
    {{>footer}}
</body>
</html>