<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contests</title>
</head>
<body>
    {{#each data}}
        <div class="row"> 
            <a href='{{url}}' target='_blank'>{{name}}</a>
            <p>
                {{site}}
                {{!-- {{in_24_hours}}  if this is yes put in red --}}
                {{start_time}}
                {{end_time}}
                {{status}}
            </p>
        </div>
    {{/each}}
</body>
</html>