<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Syncopate&display=swap" rel="stylesheet"><link rel="stylesheet" href="./css/style.css">
  
    <link rel="stylesheet" href="/css/schedule.css">
    <script>
        window.onload = function() {
            {{#ifCond error "true"}}
                alert("Time taken or Invalid input")
            {{else}}
                console.log('Kyahiiiiiiiii')
            {{/ifCond}}
        }
        
        
    </script>
</head>
<body>
    <div id="overlay-blur"></div>
    {{>header}}
    <div class="container calender">
            <table class="table monday table-dark table-stripe">
        <thead>
            <tr>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Monday</th>
            </tr>
            <tr>
                <th class="border-0" style="background-color: rgb(109, 230, 139);">ST</th>
                <th class="border border-0" style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                
            </tr>
        </thead>    
        <tbody>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
            {{#each Monday}}
            <tr>
                <td>
                    {{startTimeHour}}:{{startTimeMin}}
                </td>
                <td class="{{importance}}" style="position:relative;">
                    {{description}}
                 
                    <span class="delete-task">
                        <a href="/sdelete/{{_id}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg></a>
                    </span>
                    
                </td>
                <td>
                    {{endTimeHour}}:{{endTimeMin}}
                </td>
                
            </tr>
                {{!-- {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}} --}}
            
              {{/each}}
        </tbody>
        </table>    
        <table class="table table-dark table-stripe">
        <thead>
            <tr height="50px" >
                <th colspan="3" class="tuesday border border-top-0 border-warning" style="text-align: center;">Tuesday</th>
            </tr>
            <tr>
                <th class="border-0" style="background-color: rgb(109, 230, 139);">ST</th>
                <th class="border border-0" style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                
            </tr>
        </thead>    
        <tbody>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
            {{#each Tuesday}}
            <tr>
                <td>
                    {{startTimeHour}}:{{startTimeMin}}
                </td>
                <td class="{{importance}}" style="position:relative;">
                    {{description}}
                    <span class="delete-task">
                        <a href="/sdelete/{{_id}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg></a>
                    </span>
                </td>
                <td>
                    {{endTimeHour}}:{{endTimeMin}}
                </td>
                
            </tr>
                {{!-- {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}} --}}
            
              {{/each}}
        </tbody>
        </table>
        <table class="col table table-dark table-stripe">
        <thead>
            <tr>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Wednesday</th>
            </tr>
            <tr>
                <th class="border-0" style="background-color: rgb(109, 230, 139);">ST</th>
                <th class="border border-0" style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                
            </tr>
        </thead>    
        <tbody>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
            {{#each Wednesday}}
            <tr>
                <td>
                    {{startTimeHour}}:{{startTimeMin}}
                </td>
                <td class="{{importance}}" style="position:relative;">
                    {{description}}
                    <span class="delete-task">
                        <a href="/sdelete/{{_id}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg></a>
                    </span>
                </td>
                <td>
                    {{endTimeHour}}:{{endTimeMin}}
                </td>
                
            </tr>
                {{!-- {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}} --}}
            
              {{/each}}
        </tbody>
        </table>
        <table class="col table table-dark table-stripe">
        <thead>
            <tr>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Thursday</th>
            </tr>
            <tr>
                <th class="border-0" style="background-color: rgb(109, 230, 139);">ST</th>
                <th class="border border-0" style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                
            </tr>
        </thead>    
        <tbody>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
            {{#each Thursday}}
            <tr>
                <td>
                    {{startTimeHour}}:{{startTimeMin}}
                </td>
                <td class="{{importance}}" style="position:relative;">
                    {{description}}
                    <span class="delete-task">
                        <a href="/sdelete/{{_id}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg></a>
                    </span>
                </td>
                <td>
                    {{endTimeHour}}:{{endTimeMin}}
                </td>
                
            </tr>
                {{!-- {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}} --}}
            
              {{/each}}
        </tbody>
        </table>
        <table class="col table table-dark table-stripe">
        <thead>
            <tr>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Friday</th>
            </tr>
            <tr>
                <th class="border-0" style="background-color: rgb(109, 230, 139);">ST</th>
                <th class="border border-0" style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                
            </tr>
        </thead>    
        <tbody>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
            {{#each Friday}}
            <tr>
                <td>
                    {{startTimeHour}}:{{startTimeMin}}
                </td>
                <td class="{{importance}}" style="position:relative;">
                    {{description}}
                    <span class="delete-task">
                        <a href="/sdelete/{{_id}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg></a>
                    </span>
                </td>
                <td>
                    {{endTimeHour}}:{{endTimeMin}}
                </td>
                
            </tr>
                {{!-- {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}} --}}
            
              {{/each}}
        </tbody>
        </table>
        <table class="col table table-dark table-stripe">
        <thead>
            <tr>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Saturday</th>
            </tr>
            <tr>
                <th class="border-0" style="background-color: rgb(109, 230, 139);">ST</th>
                <th class="border border-0" style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                
            </tr>
        </thead>    
        <tbody>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
            {{#each Saturday}}
            <tr>
                <td>
                    {{startTimeHour}}:{{startTimeMin}}
                </td>
                <td class="{{importance}}" style="position:relative;">
                    {{description}}
                    <span class="delete-task">
                        <a href="/sdelete/{{_id}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg></a>
                    </span>
                </td>
                <td>
                    {{endTimeHour}}:{{endTimeMin}}
                </td>
                
            </tr>
                {{!-- {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}} --}}
            
              {{/each}}
        </tbody>
        </table>
        <table class="col table table-dark table-stripe">
            
                <thead>
            <tr>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Sunday</th>
            </tr>
            <tr>
                <th class="border border-0" style="background-color: rgb(109, 230, 139);">ST</th>
                <th class="border border-0" style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                
            </tr>
        </thead>    
        
        <tbody>
            <tr>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
            {{#each Sunday}}
            <tr>
                <td>
                    {{startTimeHour}}:{{startTimeMin}}
                </td>
                <td class="{{importance}}" style="position:relative;">
                    {{description}}
                    <span class="delete-task">
                        <a href="/sdelete/{{_id}}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                        </svg>
</a>
                    </span>
                </td>
                <td>
                    {{endTimeHour}}:{{endTimeMin}}
                </td>
                
            </tr>
                {{!-- {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}} --}}
            
              {{/each}}
        </tbody>
        </table>
        



        {{!-- <table class="table table-dark table-stripe">
        <thead>
            <tr>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Monday</th>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Tuesday</th>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Wednesday</th>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Thursday</th>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Friday</th>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Saturday</th>
                <th colspan="3" class="border border-top-0 border-warning" style="text-align: center;">Sunday</th>
            </tr>
            <tr>
                <th style="background-color: rgb(109, 230, 139);">ST</th>
                <th style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                <th style="background-color: rgb(109, 230, 139);">ST</th>
                <th style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                <th style="background-color: rgb(109, 230, 139);">ST</th>
                <th style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                <th style="background-color: rgb(109, 230, 139);">ST</th>
                <th style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                <th style="background-color: rgb(109, 230, 139);">ST</th>
                <th style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                <th style="background-color: rgb(109, 230, 139);">ST</th>
                <th style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                <th style="background-color: rgb(109, 230, 139);">ST</th>
                <th style="background-color: rgb(158, 158, 158);">Task</th>
                <th class="border border-top-0 border-bottom-0 border-start-0 border-warning" style="background-color: rgb(238, 89, 89);">ET</th>
                
                
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table> --}}
    
    </div>
    <div class="container">
        <div class="btn btn-info mt-5" onclick="show()" style="color: white;">

        Add a new task to your schedule

    </div>
    </div>
    

    

    
    <div id="form-popup" class="p-4">
        <form method="POST" class="row">
            <div class="col-12 mb-2">
                <label class="form-label">Day</label>
            <select name='day' class="form-control" required>
            <option name='select' class="form-control" selected disabled>--Select Day--</option>
            <option name='sunday' class="form-control">Sunday</option>
            <option name='monday' class="form-control">Monday</option>
            <option name='tuesday' class="form-control">Tuesday</option>
            <option name='wednesday' class="form-control">Wednesday</option>
            <option name='thursday' class="form-control">Thursday</option>
            <option name='friday' class="form-control">Friday</option>
            <option name='saturday' class="form-control">Saturday</option>
            </select>
            </div>
            <div class="col-6 mb-2">
                <label class="form-label">Start Time</label><input type="time" name="start" class="form-control" required>
            </div>
            <div class="col-6 mb-2">
                <label class="form-label">End Time</label><input type="time" name="end" class="form-control" required>
            </div>
            <div class="col-12 mb-2">
                <label class="form-label">Description</label><textarea name='description' class="form-control" required></textarea>
            </div>
            <div class="col-12 mb-2">
                <label class="form-label">Importance</label>
                <div class="form-check">
                    <label class="form-check-label" for="1">1</label><input id="1" type="radio" name='importance' value="1" class="form-check-input" required>
                
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="2">2</label><input id="2" type="radio" name='importance' value="2" class="form-check-input">
                
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="3">3</label><input id="3" type="radio" name='importance' value='3' class="form-check-input">
                
                </div>
                
                
                
            </div>
            <div class="col-2 pe-0">
                    <button class="btn btn-warning" onclick="hide()" style="width: 100%;height:100%;" value="Back">Back
                </div>
                <div class="col-10">
                    <input class="btn btn-success" type="submit" style="width: 100%;" value="Submit">
                </div>
        
        
        
        
        
       
        
    </form>
    </div>


    {{>footer}}
    <script>
         function show() {

                            let div = document.getElementById("overlay-blur")
                            div.style.visibility = "visible"
                            let form = document.getElementById("form-popup")
                            form.style.visibility = "visible"
                            form.style.opacity = "1"

    }
        function hide(){
            let div = document.getElementById("overlay-blur")
            div.style.visibility = "hidden"
            let form = document.getElementById("form-popup")
            form.style.opacity = "0"
            form.style.visibility = "hidden"
        }
    </script>
</body>
</html>