<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Syncopate&display=swap" rel="stylesheet"><link rel="stylesheet" href="./css/style.css">
  
    <link rel="stylesheet" href="/css/schedule.css">
    <script>
        window.onload = function() {
            {{#ifCond error "true"}}
                alert("Time taken or Invalid input")
            {{else}}
                console.log('Kyahiiiiiiiii')
            {{/ifCond}}
        }
    </script>
</head>
<body>
    {{>header}}
    <form method="POST">
        Day:<select name='day' required>
            <option name='select' selected disabled>--Select Day--</option>
            <option name='sunday'>Sunday</option>
            <option name='monday'>Monday</option>
            <option name='tuesday'>Tuesday</option>
            <option name='wednesday'>Wednesday</option>
            <option name='thursday'>Thursday</option>
            <option name='friday'>Friday</option>
            <option name='saturday'>Saturday</option>
        </select>
        <br>
        Start Time:<input type="time" name="start" required>
        <br>
        End Time:<input type="time" name="end" required>
        <br>
        Description:<textarea name='description' required></textarea>
        <br>
        Importance: <br>
        1:<input type="radio" name='importance' value="1" required>
        <br>
        2:<input type="radio" name='importance' value="2">
        <br>
        3:<input type="radio" name='importance' value='3'>
        <input type="submit" value="submit">
    </form>

    Monday:<ul> 
        {{#each Monday}}
            <li>
                {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}}
            </li>
        {{/each}}
    </ul>
    Tuesday:<ul> 
        {{#each Tuesday}}
            <li>
                {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}}
            </li>
        {{/each}}
    </ul>
    Wednesday:<ul> 
        {{#each Wednesday}}
            <li>
                {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}}
            </li>
        {{/each}}
    </ul>
    Thursday:<ul> 
        {{#each Thursday}}
            <li>
                {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}}
            </li>
        {{/each}}
    </ul>
    Friday:<ul> 
        {{#each Friday}}
            <li>
                {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}}
            </li>
        {{/each}}
        
    </ul>
    Saturday:<ul> 
        {{#each Saturday}}
            <li>
                {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}}
            </li>
        {{/each}}
    </ul>
    Sunday:<ul>
        {{#each Sunday}}
            <li>
                {{description}}&nbsp;&nbsp;&nbsp;&nbsp;{{startTimeHour}}:{{startTimeMin}}
                &nbsp;&nbsp;&nbsp;&nbsp;{{importance}}
            </li>
        {{/each}}
    </ul>
</body>
</html>